extends layout
script(type='text/javascript', src='/javascripts/validator.min.js')
block content
  h1= title
  p Welcome to #{title}
  form(name="presenters", method="post")  
    - each presenter in data
      - var name = unescape(presenter.name);
      - var surname = unescape(presenter.surname);
      div.input
        input(type="text", id="testInput", value= name, name="name")
        input(type="text", id="testInput" value= surname, name="surname")
    input(type="submit", value='Post')
    
